<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ShowsSyncCronExpression" value="*/5 * * * * ?"/>
    <add key="TvMazeApiEndpoint" value="http://api.tvmaze.com"/>
    <add key="MongoDbConnectionString" value="mongodb://localhost:32772"/>
    <add key="TvMazeDbName" value="TvMaze"/>
    <add key="ShowsCollectionNameName" value="Shows"/>
  </appSettings>
</configuration>